.full_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--dark-blue);
  padding: 16px;
  flex: 0 1 auto;
}

.title {
  font-size: 72px;
  font-family: "Marck Script", cursive;
  color: var(--red);
}

.title_icon {
  width: 48px;
}

.content {
  flex: 1 1 auto;
  padding: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-height: 90vh;
}

.left_pane {
  flex: 1 2 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
}

.right_pane {
  flex: 1 0 auto;
  margin-left: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding-right: 8px;
  overflow: auto;
}

.processing {
  width: 100%;
}

.processing_label {
  color: var(--bg);
}

.success {
  color: var(--blue);
}

.fail {
  color: var(--red);
}
