.container {
  height: 150px;
  width: 200px;
  background-color: #1E2C47;
}

.image {
  width: 100%;
  object-fit: cover;
}

.date {
  color: var(--bg);
  font-weight: 400;
  font-size: 16px;
}

.confidence {
  color: var(--red);
  font-weight: 600;
  font-size: 16px;
}
